* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 8px;

  opacity: 0;
  transform: translateY(20px);
  animation: slideFadeIn 0.4s ease forwards;
}

@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-type2 {
  width: 100px;
  border: 2px solid black;
}

.button-type2:hover {
  background-color: rgb(217, 53, 53);
}
