* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('/yellowMinimalBg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg  50s linear infinite;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}

.loginBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 450px;
    width: 400px;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    background: transparent;
    padding: 40px;
    backdrop-filter: blur(15px) ;
}

#root {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputBox {
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -5px;
}

.inputBox input {

    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 8px 0 5px;

}


.inputBox .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.rememberForgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.rememberForgot a {
    color: #fff;
    text-decoration: none;
}

.rememberForgot a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
    transition: background 0.3s ease, transform 0.1s ease-out}

button:hover {
    color: whitesmoke;
    background:rgb(71, 67, 62)

}

button:active {
    transform: scale(0.95);
    background-color:rgb(100, 89, 77);
    
}

.registerLink {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.registerLink p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover {
    text-decoration: underline;
}


@media (max-width: 360px) {
    .loginBox {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        border: none;
    }

    .inputBox {
        width: 290px;
        ;
    }
}

.googleLoginBtn{
    width: 100px;
    height: 40px;
    border: .2px solid rgba( 230, 243, 22, .5)
}

.googleAuth {
    display: flex;
    align-items: center;
    justify-content: center;
}
